{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">

        {% with title='Email' subtitle='' %}
            {% include 'other/section_header.html' %}
        {% endwith %}

        <p>{{ self.email_intro_text|richtext }}</p>

        <form action="{% pageurl page %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-md-6 col-lg-4 ">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="form-row justify-content-center mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        {% if settings.settings.Subscription.telegram_invite_link %}
            {% with title='Telegram' subtitle='' %}
                {% include 'other/section_header.html' %}
            {% endwith %}

            <p>{{ self.telegram_intro_text|richtext }}</p>

            <div class="text-center">
                <a class="btn btn-primary" href="{{ settings.settings.Subscription.telegram_invite_link }}">
                    <i class="fab fa-telegram-plane align-top mr-2" aria-hidden="true" style="font-size:1.5rem;"></i>
                    <span>Join Channel</span>
                </a>
            </div>
        {% endif %}

    </div>

{% endblock %}