
.box-shadow,
.simple-card {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #811f00;
  margin: 0 auto;
}

.simple-card {
  background-color: #fff;
  /*padding: 2.5rem 1.3rem;*/
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.simple-card .card-img-top {
  border-radius: 1rem 1rem 0 0;
}

.simple-card .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.simple-card .s-description {
  color: #4e4e4e;
}
