{% extends 'base.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block extra_css %}
{% endblock %}


{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="card simple-card border-0 rounded-lg shadow-lg my-5">
                        {% for block in post.creation %}
                            {% include_block block %}
                        {% endfor %}
                        <div class="card-body" style="transform: rotate(0);">
                            <!-- Note: The rotate transform prevents the stretch-link from affecting the whole card -->
                            <a class="stretched-link" href="{{ post.url }}"></a>
                                <h2 class="post-title text-center">
                                    {% if post.baner_title %}
                                        {{ post.banner_title }}
                                    {% else %}
                                        {{ post.title }}
                                    {% endif %}
                                </h2>
                                <h4 class="post-subtitle text-center">
                                    {{ post.banner_subtitle }}
                                </h4>
                            <p class="my-0 text-center">
                                Posted on {{ self.first_published_at|date:'F j, Y' }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                {% with pages=posts %}
                    {% include 'navigation/pagination.html' %}
                {% endwith %}

            </div>
        </div>
    </div>

{% endblock %}
