{# This template was adapted from #}
{# https://github.com/FlipperPA/wagtailcodeblock/blob/master/wagtailcodeblock/templates/wagtailcodeblock/code_block.html #}
{##}

{% load static wagtailcodeblock_tags %}
{% spaceless %}
    {% load_prism_theme %}
    {% for key, val in self.items %}
        {% if key == "language" %}
            <script>
                language_class_name = 'language-{{ val }}';
            </script>
        {% endif %}
        {% if key == "code" %}
            <pre class="{% if self.prefix == 'line-numbers' %}line-numbers{% endif %}
                        {% if self.prefix == 'prompt' %}command-line{% endif %}" data-prompt=">">

                <code id="target-element-current">{{ val }}</code>
            </pre>
            <script>
                var block_num = (typeof block_num === 'undefined') ? 0 : block_num;
                block_num++;
                document.getElementById('target-element-current').className = language_class_name;
                document.getElementById('target-element-current').id = 'target-element-' + block_num;
            </script>
        {% endif %}
    {% endfor %}
{% endspaceless %}

{% if self.caption %}
    <span class="caption text-muted">
        {{ self.caption }}
    </span>
{% endif %}