#blog-post-blocks p,
#blog-post-blocks ul,
#blog-post-blocks ol {
    font-size: 20px;
    font-family: 'Lora', 'Times New Roman', serif;
}

#blog-post-blocks a {
    font-weight: bolder;
}

#blog-post-blocks p {
    text-align: justify;
}

.showcase-card {
    background-color: #313131;
}

.code-toolbar .toolbar {
    display: none;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 16px !important;
    text-shadow: none !important;
    background: #252a33 !important;
    border-radius: 4px !important;
}


code {
    /* inline code */
    color: black;
    background: #ece9e7;
    padding: 0.2rem;
    border-radius: 0.3rem;
    white-space: normal;
}