{% load wagtailcore_tags %}

{% if countdown.title %}
    {% with title=countdown.title divider=False %}
        {% include 'other/section_header.html' %}
    {% endwith %}
{% endif %}

<div class="row countdown justify-content-center">

    {% if not self.countdown.finished %}
        {% include 'other/countdown/counter.html' %}
    {% endif %}

    <div class="col col-12">
        <div id="teaser-content" {% if countdown.finished %} hidden {% endif %}>
            {{ countdown.teaser_text|richtext }}
        </div>

        <div id="reveal-content" class="text-center" {% if not countdown.finished %} hidden {% endif %}>
            {{ countdown.reveal_text|richtext }}
            <a class="btn btn-primary" href="{{ countdown.reveal_page.url }}">
                Read
            </a>
        </div>
    </div>

</div>