.social-link {
    color: #282828;
}

.twitter-link:hover {
    color: #1DA1F2;
}

.facebook-link:hover {
    color: #4267B2;
}

.youtube-link:hover {
    color: #FF0000;
}

.discord-link:hover {
    color: #7289DA;
}

.github-link:hover {
    color: #171516;
}