{% load static wagtailuserbar %}
{% load i18n mathjax %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="Adrian Wälchli's Personal Website" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% include 'favicon.html' %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/website.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {# Google Analytics #}
        {% with settings.settings.GoogleAnalytics.tracking_id as tracking_id %}
            {% include 'analytics.html' %}
        {% endwith %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include 'navigation/main.html' %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'website/js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'website/js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'fontawesome/js/all.min.js' %}"></script>
        {% mathjax_scripts %}
        <script type="text/javascript" src="{% static 'website/js/website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
