// Colors
$theme-colors: (
  "primary": #282828,
  "secondary": #424242
);
$active-color: #000738;

// Buttons
$btn-border-radius: 10rem;

$btn-padding-y: .75rem;
$btn-padding-x: 1.5rem;

$pagination-padding-y: .75rem;
$pagination-padding-x: 1.5rem;

$component-active-bg: $active-color;

// Links
$link-color: $active-color;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%) ;
$link-hover-decoration:                   underline;


@import "node_modules/bootstrap/scss/bootstrap";