{% extends 'base.html' %}
{% load staticfiles %}
{% load wagtailimages_tags %}


{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ post.url }}">
                            <h2 class="post-title">
                                {% if post.baner_title %}
                                    {{ post.banner_title }}
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.banner_subtitle }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted on {{ self.first_published_at|date:'F j, Y' }}
                        </p>
                    </div>
                <hr>
                {% endfor %}

                {% with pages=posts %}
                    {% include 'navigation/pagination.html' %}
                {% endwith %}

            </div>
        </div>
    </div>

{% endblock %}
