{% extends 'base.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wagtailcodeblock/css/prism.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/prism-command-line.css' %}">
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'wagtailcodeblock/js/prism.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'blog/js/prism-command-line.min.js' %}"></script>
{% endblock %}


{% block banner_content %}
    <div class="post-heading">
        <h1>{% if self.banner_title %}
                {{ self.banner_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        </h1>
        <h2 class="subheading">{{ self.banner_subtitle }}</h2>
        <span class="meta">
            by {{ self.author }} on {{ self.first_published_at|date:'F j, Y' }}
        </span>
    </div>
{% endblock %}


{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div id="blog-post-blocks" class="col-lg-8 col-md-10 mx-auto">
                    {% for block in self.content %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}


