{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wagtailcodeblock/css/prism.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/prism-command-line.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/termynal.css' %}">
{% endblock %}


{% block banner_content %}
    <div class="post-heading">
        <h1>{% if self.banner_title %}
                {{ self.banner_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        </h1>
        <h2 class="subheading">{{ self.banner_subtitle }}</h2>
        <span class="meta">
            by {{ self.author }} on {{ self.first_published_at|date:'F j, Y' }}
        </span>
    </div>
{% endblock %}


{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div id="blog-post-blocks" class="col-lg-8 col-md-10 mx-auto">
                    {% for block in self.content %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'wagtailcodeblock/js/prism.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'blog/js/prism-command-line.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/termynal.js' %}"></script>

    {% comment %}
    <script>
        let termynals = {};
        <!--
        let observer = new IntersectionObserver(function(entries) {
            if(entries[0].isIntersecting === true)
                termynals[entries[0].target.id].init();
        }, { threshold: [0] });
        -->

        $(document).ready(function() {
            $('[data-termynal]').each(
                function (index, element) {
                    element.id = "termynal-" + index;
                    termynals[element.id] = new Termynal("#" + element.id);

                    // observer.observe(document.querySelector("#" + element.id));

                }
            );
        });
    </script>
    {% endcomment %}
{% endblock %}


