<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    {% if settings.settings.SocialMedia.twitter %}
                    <li class="list-inline-item">
                        <a href="{{ settings.settings.SocialMedia.twitter }}">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.settings.SocialMedia.facebook %}
                    <li class="list-inline-item">
                        <a href="{{ settings.settings.SocialMedia.facebook }}">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.settings.SocialMedia.youtube %}
                    <li class="list-inline-item">
                        <a href="{{ settings.settings.SocialMedia.youtube }}">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.settings.SocialMedia.github %}
                    <li class="list-inline-item">
                        <a href="{{ settings.settings.SocialMedia.github }}">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-github fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>

                {% if not hide_newsletter_info %}
                    <div class="text-center">
                        <p>Want to get notified about new posts?</p>
                        <a class="btn btn-primary" href="/subscribe">Subscribe</a>
                    </div>
                {% endif %}

                <p class="copyright text-muted">
                    This website was made under the influence of the
                    <a href="https://www.youtube.com/watch?v=w0AOGeqOnFY">coconut</a>.
                    <br>
                    Copyright &copy; Adrian Wälchli {% now "Y" %}
                </p>
            </div>
        </div>
    </div>
</footer>